@import 'blocks/default.scss';
@import 'blocks/header.scss';
@import 'blocks/nav.scss';
@import 'blocks/main.scss';
@import 'blocks/footer.scss';
@import 'blocks/modal.scss';
@import 'blocks/how-to-balls.scss';

h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

.body-inner {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    &__page {
        flex: 1 0 auto;
    }
}
