/* <------------------     Variables start   --------> */

:root {
    --main-text-color: #1c1819;
    --not-active-text-color: #2a81dd;
    --active-text-color: #f33;
}

/* <------------------------------     Variables end      ----------------------------------> */

/* <------------------------------     BODY START      ----------------------------------> */
body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background: #e5e5e5;
}

h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0;
}

.body-inner {
    background: #fff;
}

.body-inner__page {
    min-height: 100vh;
}

/* <------------------------------     BODY END      ----------------------------------> */

/* <------------------------------     HEADER START      ----------------------------------> */

.header__items {
    padding-top: 34px;
    margin: 0 0 0 32px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.header__items__emblem {
    background-image: url(/src/assets/icons/Kolesa.svg);
    width: 215px;
    height: 35px;
    margin: 4px 68px 0 0;
}

.header__items__scan {
    box-sizing: border-box;
    margin-right: 600px;
    position: relative;
}

.header__items__scan input {
    box-sizing: border-box;
    width: 308px;
    height: 44px;
    border-radius: 8px;
    background-color: #f2f2f3;
    border: none;
    padding-left: 56px;
}

.header__items__scan button {
    position: absolute;
    top: 12px;
    left: 16px;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.header__items__scan button::before {
    content: url(/src/assets/icons/loupe.svg);
}

.header__items__scan input:hover,
.header__items__scan input:focus {
    padding-left: 70px;
    transition: 0.5s linear;
}

.header__items__profile a {
    display: flex;
    text-decoration: none;
}

.profile-icon img {
    display: block;
    border-radius: 50%;
    margin-right: 16px;
}

.text-name {
    color: #2a81dd;
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
}

.profile-icon:hover img {
    outline: 1px solid var(--not-active-text-color);
}

.text-name:hover {
    color: var(--active-text-color);
}

.text-balls:hover {
    color: #00d200;
}

.text-balls {
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 20px;
    font-size: 13px;
}

.content-inner {
    display: flex;
    margin: 24px 0 68px 32px;
}

.content-nav {
    margin: 8px 132px 0 0;
    width: 150px;
}

.nav__menu ul {
    list-style-type: none;
    white-space: nowrap;
}

.nav__menu-items li {
    margin-bottom: 25px;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
}

.nav__menu-items .item-active::before {
    content: url(/src/assets/icons/Rectangle.png);
    position: absolute;
    top: -5px;
    left: -10px;
}

.menu-item a:active,
.menu-item a:hover,
.menu-item span,
.item-active a {
    font-weight: 600;
}

/* <------------------------------     HEADER END      ----------------------------------> */

/* <------------------------------     MAIN START      ----------------------------------> */

.main__content-balls {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 40px 0;
    cursor: pointer;
}

.balls__receive,
.balls__plus,
.balls__gift {
    width: 330px;
    height: 76px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.balls__receive:hover,
.balls__plus:hover,
.balls__gift:hover {
    outline: 1px solid #000080;
    transition: 0.5s linear;
}

.balls__receive {
    background-color: #eff8eb;
}

.receive__text {
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 32px;
    font-size: 20px;
}

.receive__icon-plus {
    background-image: url(/src/assets/icons/plus.png);
}

.receive__icon-plus,
.receive__icon-question,
.receive__icon-gift {
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
    height: 56px;
    margin: 0 16px 0 24px;
}

.balls__plus {
    background-color: #fffae7;
    display: flex;
}

.receive__icon-question {
    background-image: url(/src/assets/icons/question.png);
}

.balls__gift {
    background-color: #e9f2fb;
    display: flex;
}

.receive__icon-gift {
    background-image: url(/src/assets/icons/gift.png);
}

.main__content-choise button {
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    color: var(--not-active-text-color);
    line-height: 24px;
    font-size: 14px;
    padding: 6px 0 6px 0;
    min-width: 100px;
    cursor: pointer;
    margin-right: 6px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.main__content-choise .choise-active {
    background-color: #d6ecfb;
    color: var(--main-text-color);
    border: none;
}

.main__content-choise button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    min-width: 150px;
    transition: 0.3s linear;
}

.main__content-items {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    gap: 24px;
    margin-top: 16px;
    position: relative;
}

.item {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.1);
    width: 330px;
    height: 474px;
    position: relative;
}

.item:hover {
    box-shadow: 0 2px 10px rgba(28, 24, 25, 0.3);
    height: 520px;
    position: absolute;
    z-index: 2;
}

.item__card {
    position: relative;
}

.item__card-img {
    display: block;
}

.item__badge {
    text-transform: uppercase;
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-style: 13px;
    line-height: 20px;
    background: #64bd38;
    color: white;
    padding: 0 4px;
    border-radius: 4px;
}

.item__description {
    margin: 16px;
}

.item__description-price {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: var(--not-active-text-color);
    margin-bottom: 8px;
}

.item:hover .item__description-price {
    color: var(--active-text-color);
}

.item__descroption-title {
    margin: 0 0 4px 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item__descroption-hint {
    font-size: 14px;
    line-height: 26px;
    color: #888b94;
    margin-bottom: 16px;
}

.item__descroption-hidden {
    position: absolute;
    top: 460px;
    left: 15px;
    visibility: hidden;
}

.item__descroption-btn {
    width: 300px;
    height: 44px;
    border: 0;
    background: var(--not-active-text-color);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.item:hover .item__descroption-hidden {
    visibility: visible;
}

/* <------------------------------     MAIN END      ----------------------------------> */

/* <------------------------------     FOOTER START      ----------------------------------> */

.footer__content {
    background-color: #1c1819;
    color: white;
    display: flex;
    justify-content: space-between;
}

.contacts-copyright {
    padding: 20px 0 8px 32px;
}

.footer__content-contacts ul {
    list-style-type: none;
    display: flex;
    margin: 8px 0 22px 35px;
}

.contacts-icons__instagram,
.contacts-icons__youtube,
.contacts-icons__vk {
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 11px;
}

.footer__content-ideas {
    display: flex;
}

.ideas__text {
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    align-self: center;
    margin-right: 50px;
}

.ideas__btn {
    margin: 0 39px;
    width: 150px;
    height: 38px;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
    transition: height 1s 1s cubic-bezier(0, 0, 1, 1) 500ms;
}

.ideas__btn:hover {
    height: 50px;
}

/* <------------------------------     FOOTER END      ----------------------------------> */

/* <------------------------------     MODAL START      ----------------------------------> */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15vh auto;
    border: 1px solid #888;
    border-radius: 16px;
    max-width: 1040px;
}

.close {
    border: none;
    position: absolute;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    background-image: url(/src/assets/icons/cross.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    padding: 0;
    top: 24px;
    right: 24px;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.modal__main {
    display: flex;
}

.modal__main-card {
    width: 330px;
    height: 300px;
    padding: 56px 24px 0 56px;
}

.card-big {
    margin: 0 auto;
}

.card-little ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 50px;
    flex-wrap: wrap;
}

.little-1,
.little-2,
.little-3 {
    display: block;
    width: 50px;
    margin-right: 8px;
}

.little-1 {
    background-image: url(/src/assets/icons/image-girl.png);
}

.little-2 {
    background-image: url(/src/assets/icons/t-shirt-sml.png);
    margin-right: 5px;
}

.little-3 {
    background-image: url(/src/assets/icons/image-man.png);
}

.active {
    border: 1px solid #2a81dd;
    border-radius: 8px;
    outline: 0.5px solid #1c1819;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.modal__main-info {
    padding-top: 64px;
    max-width: 573px;
}

.info-title {
    display: flex;
    justify-content: space-between;
}

.info-title-text {
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 8px;
}

.info-title-balls {
    color: var(--main-text-color);
    font-weight: 600;
    line-height: 32px;
    font-size: 20px;
    margin-bottom: 8px;
}

.info-title-btn {
    padding: 6px 15px;
    background-color: #ffdd61;
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin-bottom: 24px;
}

.info-balans {
    position: relative;
    width: 196px;
    height: 68px;
    background-color: #f0fafd;
    border-radius: 16px;
    margin-top: 16px;
}

.info-balans__text {
    padding-left: 16px;
}

.text-title {
    color: #888b94;
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    margin-top: 8px;
}

.text-subtitle {
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    margin-top: 4px;
}

.info-balans__text::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/src/assets/icons/package.png);
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    top: 15px;
    left: 140px;
}

.colors-text {
    margin: 0;
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 14px;
    font-size: 14px;
    margin-bottom: 8px;
}

.choise-color {
    display: flex;
    margin-bottom: 24px;
}

.radio {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    min-width: 80px;
    height: 40px;
    margin-right: 8px;
}

.radio-input {
    --webkit-appearance: none;

    appearance: none;
    position: absolute;
}

.radio-label1,
.radio-label2,
.radio-label3 {
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 5px 5px 35px;
    color: #2a81dd;
    font-weight: 400;
    line-height: 32px;
    font-size: 14px;
    cursor: pointer;
}

.radio-label2 {
    min-width: 95px;
}

.radio-label1::before,
.radio-label2::before,
.radio-label3::before {
    content: '';
    display: block;
    width: 24px;
    height: 23px;
    border-radius: 4px;
    position: absolute;
    top: 9px;
    left: 5px;
    z-index: 1;
}

.radio-label1::before {
    background-color: blue;
}

.radio-label2::before {
    background-color: #efe8d8;
}

.radio-label3::before {
    background-color: #d4d4da;
}

.radio-input:checked + .radio-label1,
.radio-input:checked + .radio-label2,
.radio-input:checked + .radio-label3 {
    color: var(--main-text-color);
    background-color: #d6ecfb;
}

.info-size {
    margin-bottom: 24px;
}

.size-text {
    margin: 0;
    color: var(--main-text-color);
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
}

.form-size {
    display: flex;
}

.radio-size {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    margin-right: 8px;
}

.input-size {
    --webkit-appearance: none;

    appearance: none;
    position: absolute;
}

.label-size {
    display: block;
    box-sizing: border-box;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    font-weight: 400;
    line-height: 40px;
    font-size: 16px;
    color: #2a81dd;
    cursor: pointer;
}

.input-size:checked + .label-size {
    color: var(--main-text-color);
    background-color: #d6ecfb;
}

.info-descr {
    margin-bottom: 44px;
}

.descr-details {
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.descr-interpretation {
    font-weight: 400;
    line-height: 24px;
    font-size: 14px;
    color: var(--main-text-color);
    margin-bottom: 24px;
}

/* <------------------------------     MODAL END      ----------------------------------> */
