.header-indent {
    margin: 52px 0 0 25px;
}

.header-items {
    list-style-type: none;
    display: flex;
    align-items: center;

    &__emblem {
        margin: 4px 68px 0 0;
    }

    &__search {
        box-sizing: border-box;
        margin-right: 600px;
        position: relative;
        opacity: 70%;
    }
}

.search-form {
    &__input {
        box-sizing: border-box;
        width: 308px;
        height: 44px;
        border-radius: 8px;
        background-color: #f2f2f3;
        border: none;
        padding-left: 56px;
    }

    &__btn {
        position: absolute;
        top: 12px;
        left: 16px;
        background: none;
        border: none;
        width: 24px;
        height: 24px;
    }

    &__btn::before {
        content: url(/src/assets/icons/loupe.svg);
    }

    &:hover,
    &:focus {
        opacity: 100%;
    }
}

.header-items-profile {
    &__btn {
        display: flex;
        text-decoration: none;
        border: none;
        padding: 0;
        background: #fff;
        text-align: start;
        cursor: pointer;
    }

    &__icon {
        display: block;
        border-radius: 50%;
        margin-right: 16px;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid rgba(42, 129, 221, 0.2);

        &:hover {
            border: 1px solid $not-active-text-color;
        }
    }

    &__text {
        &--name {
            @include text-style-bold($color: $not-active-text-color);

            cursor: pointer;

            &:hover {
                color: $active-text-color;
            }
        }

        &--balls {
            @include text-style-regular($size: 13px, $height: 20px);

            justify-self: flex-start;
            cursor: pointer;

            &:hover {
                color: $active-text-color;
            }
        }
    }
}
